<!DOCTYPE html>
<html>
<head>
  <title>InstaVacation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
  <script type="text/javascript"
      src=<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&sensor=false" %>>
    </script>
</head>
<body>

<%= yield %>

</body>
</html>